@import "../../common/vars";
@import "../../common/mixins";

.section-title {
  font-family: $font-family;
  font-size: $font-section-title-size;
  color: $font-color-white;
  text-transform: uppercase;
  letter-spacing: 1px;
  @include for-phone-only {
    font-size: $font-section-title-mobile-size;
  }
}