@import "../../common/vars";
@import "../../common/mixins";

.learn-article {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: url('images/background.png') calc(100% + 480px) -450px no-repeat;
  @include for-tablet-portrait-up {
    background: url('images/background.png') calc(100% + 350px) -350px no-repeat;
  }
  @include for-tablet-landscape-up {
    background:  url('images/background.png') calc(100% + 300px) -350px no-repeat;
  }
  @include for-desktop-up {
    background:url('images/background.png') calc(100% + 200px) -300px no-repeat;
  }

  &__container {
    width: 600px;
    padding-top: 88px;
    padding-bottom: 52px;
    @include for-phone-only {
      width: auto;
      padding: 48px 24px;
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__subtitle {
    margin-bottom: 48px;
  }

  &__article-link {
    margin-bottom: 24px;
  }

  &__article-title {
    margin-bottom: 16px;
  }

  &__learn-link {
    margin-top: 48px;
  }
}
