@import "../../common/vars";
@import "../../common/mixins";

.subtitle {
  font-family: $font-family;
  font-size: $font-subtitle-size;
  letter-spacing: $letter-spacing;
  font-weight: $font-weight-light;
  @include for-phone-only {
    font-size: $font-subtitle-mobile-size;
  }
  &_theme-dark {
    color: $font-color-white;
  }
  &_theme-light {
    color: $font-color-black;
  }
}